@page
@model RostrosFelices.Pages.Servicioss.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Deseas eleminar?</h3>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.servicio)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.fecha)
        </dt>
        <dd class="col-ms-10">
            @Html.DisplayFor(model => model.Servicio.cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.empleado)
        </dt>
        <dd class="col-ms-10">
            @Html.DisplayFor(model => model.Servicio.id_empleado)
        </dd>

    </dl>
    <form method="post">
        <input type="hidden" asp-for="Servicio.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-asp-page="./Index" class="btn btn-primary">Back to list</a>
    </form>
</div>